<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfhW3IdHe5gSSBcuyZvEr3umaYhYkhkWs</string>
	<key>GCM_SENDER_ID</key>
	<string>1093197207307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalityTestApp</string>
	<key>PROJECT_ID</key>
	<string>my-project-1-77cd0</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-1-77cd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093197207307:ios:427e102827fcb377aa740e</string>
</dict>
</plist>